

.card img {
    max-width: 398px;
    border-radius: 5px;
}

  
  .flex-container > div{
    width: 420px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin: 30px;
    display: inline-block;
    vertical-align: top; 
     background-color: #f1f1f1;
}
  .card-description{
    height: 180px;
  }