.navbar {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 25px; */
    padding: 10px 15px;
    font-size: 35px;
    font-family: 'Lobster', cursive;
font-family: 'Signika Negative', sans-serif;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(238, 78, 78, 0.59));
}